.Rproj.user
.Rhistory
.Rdata
.Rbuildignore
.Ruserdata
config.txt
deployment/libs
deployment/sbox


# rtorch-book/public/*

*.ckpt

rtorch-book/public/
rtorch-book/_bookdown_files/
rtorch-book/public/*.html



*.html

*.json

rtorch-book/rtorch-book\.Rmd
